/spring5source.iml
/.idea/.gitignore
/target/classes/com/waterchen/basic/scope/Account.class
/target/classes/applicationContext.xml
/target/classes/applicationContext1.xml
/.idea/compiler.xml
/target/classes/com/waterchen/basic/factorybean/ConnectionFactory.class
/target/classes/com/waterchen/basic/factorybean/ConnectionFactoryBean.class
/target/classes/com/waterchen/basic/constructer/Customer.class
/target/classes/db.properties
/.idea/jarRepositories.xml
/target/classes/log4j.properties
/.idea/misc.xml
/target/classes/com/waterchen/basic/Person.class
/target/classes/com/waterchen/basic/life/Product.class
/target/classes/com/waterchen/basic/life/Product2.class
/target/classes/com/waterchen/basic/factorybean/StaticConnectionFactory.class
/target/test-classes/com/waterchen/TestSpring.class
/target/classes/com/waterchen/basic/User.class
/target/classes/com/waterchen/basic/UserDao.class
/target/classes/com/waterchen/basic/UserDaoImpl.class
/target/classes/com/waterchen/basic/UserService.class
/target/classes/com/waterchen/basic/UserServiceImpl.class
/.idea/vcs.xml
